<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head" ></head>
<body class ="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${cheese}">
    <div class="form-group">
        <label th:for="name">Cheese Name:</label>
        <input class="form-control" th:field="*{name}"/>
        <span th:errors="*{name}" class="error"></span>
        <span th:text="${message}"></span>
    </div>
    <div class="form-group">
        <label th:for="desc-field">Cheese Description:</label>
        <input class="form-control" th:field="*{description}" />
        <span th:errors="*{description}" class="error"></span>
    </div>
    <label th:for="type">Category</label>
    <select name="categoryId">
        <option th:each="category : ${categories}"
                th:text="${category.name}"
                th:value="${category.id}"></option>
    </select>
    <div class="form-group">
        <label th:for="rating">Cheese Rating</label>
        <input class="form-control" th:field="*{rating}" />
        <span th:errors="*{rating}" class="error"></span>
    </div>
        <input type="submit" value="Add Cheese"/>

</form>


</body>

</html>
