<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">My Cheeses</title>

    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js}"></script>

</head>
<body>

<nav th:fragment="navigation">
    <a href="/cheese">Home</a> |
    <a href="/cheese/category"> Category</a>|
    <a href="/cheese/menu ">Menu </a>

    <nav th:fragment="navigation-cheese">
        <a href="/cheese/add">Add</a> |
        <a href="/cheese/remove">Remove</a>
    </nav>

    <nav th:fragment="navigation-category">
        <a href="/category/add">Add</a> |
        <a href="/category/remove">Remove</a>
    </nav>

    <nav th:fragment="navigation-menu">
        <a href="/menu/add">Add</a> |
        <a href="/menu/remove">Remove</a>
    </nav>

</body>
</html>